
*{
    margin:0px;
    padding:0px;
}

@font-face {
    font-family: 'Metropolis 1920 Regular';
    src: url('/fonts/Metropolis/Metropolis 1920 Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Caviar Dreams/CaviarDreams.woff') format('woff');
}


@font-face {
    font-family: 'Caviar Dreams Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Caviar Dreams/CaviarDreamsItalic.woff') format('woff');
}


@font-face {
    font-family: 'Caviar Dreams Bold';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Caviar Dreams/CaviarDreams_Bold.woff') format('woff');
}

@font-face {
    font-family: 'Caviar Dreams Bolder';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Caviar Dreams/caviardreams_bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Caviar Dreams Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Caviar Dreams/CaviarDreams_BoldItalic.woff') format('woff');
}

html{
    font-size:14px;
}
body{
    background-color: white;
    font-family: "Josefin Sans",sans-serif;    
    /*background-image: url(/img/body-bg.jpg);
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;*/
    background-color: rgb(42, 54, 50);
}
header,nav,main,footer{
    max-width:1400px;
    margin:auto;
    position: relative;   
}
h2 {
    text-align: center;
    color:#464646;
    margin-bottom: 30px;
    font-size: 32px;
    font-family: 'Caviar Dreams Bolder', sans-serif;
    text-transform: uppercase;
}
h2:after {
    display: block;
    content: '';
    width: 149px;
    height: 5px;
    margin: 15px auto;
    background-image: url(/img/header_line.png);
}
.heading_subtitle_gold{
    color: #E4B34C;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    font-style: italic;
    line-height: 1;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0px 5px rgb(42 54 50);
    background-image: url(/img/bgfoodicon.png);
    position: relative;
    background-position: center;
    background-repeat: repeat;
}
header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 50,0.8);
}

header .logo_container{
    position:relative
}

header img{
    height: auto;
    max-width:300px;
}

nav {
    box-shadow: 0 0px 5px rgb(42 54 50);
    background-image: url(/img/bgfoodicon.png);
    position: relative;
    background-position: center;
    background-repeat: repeat;
    border-top: 1px solid #E4B34C;
}
nav:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 50,0.8);
}
nav>ul{
    display: flex;    
    flex-wrap: wrap;
    justify-content:center;
    align-items: center; 
    height: 60px;
    position: relative;
   
}

nav>ul>li{
    padding:5px 10px;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}
nav a:hover{
    color:#E4B34C;;
}

main{
    background-color: white;
    box-shadow: 0 3px 5px rgb(42 54 50);
}
.banner_container{
    display:flex;
    justify-content: center;
    align-items: stretch;
    position:relative;
    background: black;
    margin-bottom: 75px;
    overflow:hidden;
    box-shadow: inset 0px 0px 0px 4px #e4b34c;
}

.banner_container>img{
    opacity: 0.5;
    width: 100%;
    animation: imageslider 15s linear infinite;   
    object-fit: fill;
    height: auto;
}


.banner_container>video{
    opacity:0;
    position: absolute;
    z-index:1;
    object-fit: fill;
    animation: videoslider 15s linear infinite;
  
}



@keyframes imageslider{
    0%{
        opacity: 0.5;
        transform:translateX(0%);
        
    }

    100%{
        opacity: 0.5;  
        transform:translateX(-100%);        
    }

}

@keyframes videoslider{
    0%{
        opacity: 0;
        transform:translateX(100%)
    }

    100%{
        opacity: 0.5;
        transform:translateX(0%);
        
    }
   
}

.banner_container h1{
    position: absolute;
    top: calc(50% - 30px);
    text-shadow: 0 0 20px #495e57, 0 0px 40px black, 0 0px 60px #fff;
    font-size: 40px;
    font-family: 'Metropolis 1920 Regular', sans-serif;
    color: #E4B34C;
    letter-spacing: 3px;    
    text-align: center;
    max-width: 90%;
    z-index:2;
    animation-duration: 0.1s;
    animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
    animation-delay: 0;
    animation-iteration-count: 20;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: banner_wiggle;
    
}

@keyframes banner_wiggle{
    0%{
        transform:rotateZ(-5deg);
    }
    50%{
        transform: rotateZ(0deg);
    }
    100%{
        transform:rotateZ(5deg);
       
    }
}

.banner_container button{
    position: absolute;
    top: calc(50% + 40px);
    width: 180px;
    height: 50px;
    font-size: 20px;
    box-shadow: 1px 1px 5px black;
    font-weight: bold;
    color: white;
    z-index: 2;
    font-family: 'Caviar Dreams Bold', sans-serif;
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid #E4B34C;
}

.banner_container>button:hover{ 
    animation:card_zoom 0.5s alternate linear;
 
}
@keyframes card_zoom{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    
}

.banner_container h1 img{
    height: 36px;
}
.banner_container button>span{
    opacity: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 200px;
    position: absolute;
    right: 0;
    top: -2px;
    overflow-x: hidden;
    background-color: #c9ab81;
}

.banner_container button>span:nth-of-type(1){
    -webkit-animation: bubbleAnimation1 1.3s linear infinite;
    animation: bubbleAnimation1 1.3s linear infinite;
    -webkit-animation-iteration-count: 8;
    animation-iteration-count: 8;
}

.banner_container button>span:nth-of-type(2){
    -webkit-animation: bubbleAnimation2 1.7s linear infinite;
    animation: bubbleAnimation2 1.7s linear infinite;
    -webkit-animation-iteration-count: 6;
    animation-iteration-count: 6;
    right:5px;
}
.banner_container button>span:nth-of-type(3){
    -webkit-animation: bubbleAnimation1 0.8s linear infinite;
    animation: bubbleAnimation1 0.8s linear infinite;
    -webkit-animation-iteration-count: 13;
    animation-iteration-count: 13;
    right: 10px;
}

@keyframes bubbleAnimation1{
    0% {
        opacity: .8;
        transform: scale(0.5) translateY(0) translateX(5px);
    }
    50% {
        opacity: .5;
        transform: scale(0.7) translateY(-10px) translateX(10px);
    }
    100% {
        opacity: .1;
        transform: scale(0.9) translateY(-20px) translateX(5px);
    }
}

@keyframes bubbleAnimation2{
    0% {
        opacity: .9;
        transform: scale(0.4) translateY(0) translateX(60px);
    }
    50% {
        opacity: .6;
        transform: scale(0.6) translateY(-15px) translateX(40px);
    }
    100% {
        opacity: .3;
        transform: scale(0.9) translateY(-30px) translateX(30px);
    }
}

@keyframes bubbleAnimation3{
    0% {
        opacity: .8;
        transform: scale(0.5) translateY(0) translateX(5px);
    }
    50% {
        opacity: .5;
        transform: scale(0.7) translateY(-10px) translateX(10px);
    }
    100% {
        opacity: .1;
        transform: scale(0.9) translateY(-20px) translateX(5px);
    }
}


.intro_section{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    color: #495e57;
}

.intro_section div{
    flex: 0 0 83.33%;
}


.intro_text{
    font-size: 1.25em;
}

.small_container{
    display:flex;
    justify-content: center;
    align-items:stretch;
    flex-wrap: wrap;    
    color: #495e57;
    margin-top: 50px;
    position: relative;
}
.small_container::after{
    display: block;
    content: "";
    position: absolute;
    bottom: -75px;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50px;
    margin: -52px auto 0;
    z-index: 3;
}
.small_container::before{
    display: block;
    content: "";
    position: absolute;
    bottom: -50px;
    width: 60px;
    height: 60px;
    background: #fff;
    margin: -52px auto 0;
    z-index: 4;
}
.small_container article{
    flex:1;
    text-align: center;
    margin: 10px;
    background: white;
}
.small_container article:hover{ 
    animation:card_zoom 0.5s alternate linear;
 
}
@keyframes card_zoom{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    
}
.small_container h2{    
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 10px;
}

.small_container img{
    width: 100%;
    height: auto;
}

.small_container figcaption{   
    padding: 10px;
    font-size: 1.1em;
    color:#a5a5a5; 
}

.menu_section{
    margin: 50px 0;   
    background-color: #2a3632;
    padding: 40px 0;
    background-image: url(/img/bgfoodicon.png);
    position: relative;
    background-position: center;
    background-repeat: repeat;
}

.menu_section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 50,0.8);
}

.menu_section h2{
    color: white;
    position: relative;
}

.menu_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu_container article{
    margin:15px;
    text-align: center;
}
.menu_container img{
    max-width:150px;
    height: auto;
    box-shadow: 5px 5px 10px black;
    border-radius: 50%;
}
.menu_container img:hover{ 
    animation:menu_zoom 0.5s alternate linear;
 
}
@keyframes menu_zoom{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    
}
.menu_container figcaption{
    font-size: 1.25em;
    color: #c9ab81;
}
.menu_container figure figcaption:nth-of-type(1){
    margin-top: 15px;
    margin-bottom: 5px;
    color: white;
}
.about_section{   
    background-color: #2a3632;
    padding-top: 50px;
    padding-bottom: 80px;
    background-image: url(/img/bgfoodicon.png);
    position: relative;
    background-position: center;
    background-repeat: repeat;
}
.about_section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 50,0.8);
}

.about_section h2{
    position: relative;
    color: white;
}

.bio_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    position: relative;
    margin: 0 40px;
    padding:30px 0
}
.about_section article{
    color: #495e57;
    background-color: #fff;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about_section figure{
    box-shadow: 0 0 18px rgb(40 40 40 / 12%);
    border-radius: 2px;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
}

.chefs_bio img{
    max-width: 250px;
}

.about_section article:hover .chefs_bio img{
    transform: scale(1.1);
    transition: all 0.35s;
}
.chefs_bio figcaption{
    text-align: center;
    margin: 15px 0;
}

.about_section h5{
    color: #282828;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 14px;
}

.about_section figure p{
    color: #9b9b9b;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
}
.about_section .member-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.about_section .member-overlay .member-hover {
    border-radius: 2px;
    background-color: rgba(34, 34, 34, 0.9);
    width: 100%;
    height: 100%;
    transition: all 0.35s;
    opacity: 0;
}

.about_section article:hover .member-hover {
    opacity: 1;
}

.about_section  .pos-vertical-center {
    position: relative;
    top: 70%;
    transform: perspective(1px) translateY(-30%);
}

.about_section .member-hover a {
    color: #c59d5f;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin-right: 20px;
}
.about_section .member-desc {
    padding: 15px;
    font-size: 15px;
    color: #9b9b9b;
    margin-bottom: 0;
}

.about_section .member-desc p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
.booking_section{
    padding:20px;
    margin-top:50px;
    position: relative;
}

.booking_section::before{
    display: block;
    content: "";
    position: absolute;
    top: -25px;
    right: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50px;
    margin: -52px auto 0;
    z-index: 3;

}
.booking_section::after{
    display: block;
    content: "";
    position: absolute;
    top: 2px;
    right: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #fff;
    margin: -52px auto 0;
    z-index: 4;
}
.booking_section h2{
    margin-bottom:0;
}
.booking_section form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
}
.booking_section form>div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.booking_section input, .booking_section select{
    width: 196px;
    height: 46px;
    margin: 10px;
    font-size: 18px;
    border-color: #495e57;
    border-width: 1px;
    border-style: solid;
    color: #495e57;
    padding-left: 10px;
    background-color: white;
    font-family: "Josefin Sans",sans-serif;   
}
.booking_section select{
    width: 208px;
}
.booking_section input::placeholder{
    color: #495e57;
}

.booking_section input:focus-visible{
    outline:none;
}

.booking_section button{
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px; 
    border-color: #E4B34C;
    border-width: 1px;
    border-style: solid;
    color: white;
    width: 196px;
    height: 46px;
    position: relative;
    overflow: hidden;
    background-color: #E4B34C;
    font-family: "Josefin Sans",sans-serif;   
}
.booking_section button::before{
    position: absolute;
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: '';
    display: inline-block;
    height: 5px;
    width: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 17px;
    transition: all 300ms ease;
    top: calc(50% - 5px);
}
.booking_section button::after{
    position: absolute;
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: '';
    display: inline-block;
    height: 5px;
    width: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left:-11px;
    transition: all 300ms ease;
    top: calc(50% - 5px);
}
.booking_section button:hover{
    color:#f6e387;
    background-color: #1d382f;
}
.booking_section button:hover::before{
    right: -11px;
}
.booking_section button:hover::after{
    left: 169px;
}


.subscribe_section{
    padding: 20px;
    margin-top: 50px;
    position: relative;
}
section.subscribe_section:before {
    display: block;
    content: "";
    position: absolute;
    top: -25px;
    right: calc(50% - 30px);
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50px;
    margin: -52px auto 0;
    z-index: 3;
}
.subscribe_section form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
}

.subscribe_section input{
    width: 196px;
    height: 46px;
    font-size: 18px;
    border-color: #E4B34C;
    border-width: 1px;
    border-style: solid;
    color: #495e57;
    padding-left: 10px;
    background-color: white;   
}
.subscribe_section input::placeholder{
    font-size:15px;
    font-family: "Josefin Sans",sans-serif;
}
.subscribe_section button{
    padding: 10px 15px;
    font-size: 16px;
    border-color: #E4B34C;
    border-width: 1px;
    border-style: solid;
    color: white;
    width: 96px;
    height: 48px;
    position: relative;
    overflow: hidden;
    background-color: #E4B34C;
    font-family: "Josefin Sans",sans-serif;
}
.subscribe_section button:hover{
    color: #f6e387;
    background-color: #1d382f;
}

.map_section{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    border-top: 1px solid #ccc;
    padding: 35px 0;
    background-image: url(/img/bgfoodicon.png);
    position: relative;
    background-position: center;
    background-repeat: repeat;
}

.map_section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 50,0.8);
}
.address_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 83.33%;
    position: relative;
}
.address_container div{
    margin-top:15px;
}

.address_container p{
   
    color:white;
    font-size: 1.15em;
    line-height: 24px;
}

.address_container a{
    color:white;
    text-decoration: none;
}



footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding:15px;
}
footer img{
    max-width:180px;
}

footer p{
    color: #495e57;
    font-size: 13px;
}


@media screen and (max-width:767px){
    .heading_subtitle_gold{
        font-size: 29px;
    }
    .banner_container h1{
        font-size:30px;
    }
    .banner_container h1 img {
        height: 22px;
    }
    .small_container article{
        flex-basis:100%;
        margin-bottom:30px;
    }
    .small_container figcaption{ 
        font-size:15px;
    }



}

@media screen and (max-width:576px){
    header img {
        max-width: 230px;
    }
  
    .banner_container h1 {
        font-size: 24px;
    }
    .banner_container>button {
        font-size:16px;
        width: 150px;
        height: 40px;
        top: calc(50% + 20px);
    }

    .intro_section h2,.booking_section h2,.about_section h2,.menu_section h2,.subscribe_section h2{
        font-size:24px;
    }
    .intro_text,.about_section figure p,.address_container p,.menu_section figcaption{
        font-size:16px;
    }  
    #footer_logo{
        padding-left: 15px;
    }
    #footer_copyright{
        padding-right: 15px;
    }
  
}