
*{
    margin:0px;
    padding:0px;
}

@font-face {
    font-family: 'Metropolis 1920 Regular';
    src: url('/fonts/Metropolis/Metropolis 1920 Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Caviar Dreams/CaviarDreams.woff') format('woff');
}


@font-face {
    font-family: 'Caviar Dreams Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Caviar Dreams/CaviarDreamsItalic.woff') format('woff');
}


@font-face {
    font-family: 'Caviar Dreams Bold';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Caviar Dreams/CaviarDreams_Bold.woff') format('woff');
}

@font-face {
    font-family: 'Caviar Dreams Bolder';
    font-style: normal;
    font-weight: bold;
    src: url('/fonts/Caviar Dreams/caviardreams_bold-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Caviar Dreams Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Caviar Dreams/CaviarDreams_BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'arion_typeface_altregular';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Arion/arion_typeface_alt-webfont-3.woff') format('woff');
}
html{
    font-size:14px;
}
body{
    font-family: "Josefin Sans",sans-serif;    
    background-image: url(/img/bgfoodicon.png);
    position: relative;
    background-position: center;
    background-repeat: repeat;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 50,0.8);
    background-image: linear-gradient(180deg, #000000 0%, #FFFFFF00 100%);
}
header,main,footer{
    max-width:3000px;
    margin:auto;
    position: relative;     
}

h2 {
    text-align: center;
    color:#464646;
    margin-bottom: 30px;
    font-size: 32px;
    font-family: 'Caviar Dreams Bolder', sans-serif;
    text-transform: uppercase;
}
h1:after,h2:after {
    display: block;
    content: '';
    width: 149px;
    height: 5px;
    margin: 15px auto;
    background-image: url(/img/header_line_color.png);
}
.heading_subtitle_gold{
    color: #E4B34C;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    font-style: italic;
    line-height: 1;
    margin-bottom: 5px;
    position: relative;
    text-align: center;
}

.page-loader {
    background: url(/img/res-page-loader.gif) 50% 50% no-repeat rgb(0,0,0);
}

.page-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 99999;
    background-color: black;
}
.large_screen_header.init{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    margin-bottom: 0px;
    background-color: rgba(25,25,25,.5);    
    box-shadow: 0px 10px 60px rgb(0 0 0 / 0%);
    height: max-content;
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
    backdrop-filter: blur(1px);
}
.large_screen_header.show{
    box-shadow: 0px 10px 60px rgb(0 0 0 / 10%);
    backdrop-filter: blur(12px);
    background-color: #000000BD;
    transition: all .5s cubic-bezier(.165, .84, .44, 1);
}

.large_header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
   
}

.large_header_container .logo_container{
    position:relative
}

.large_header_container img{
    height: auto;
    max-width:250px;
}


nav>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;   
}

nav>ul>li{
    padding: 5px 10px;
    list-style-type: none;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    padding: 35px 10px;
}
nav a:hover{
    color:#E4B34C;;
}

.small_screen_header{
    display: none;
}
.small_menu_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    padding: 15px 30px 15px 30px;
    flex-wrap: wrap;
    
}

.small_screen_header img{
    max-width: 180px;
    height: auto;
}

.small_screen_header .menu_toggle i{
    color:white;
    font-size: 20px;
}

.small_menu_list{
    display: none;
    right: 0;
    transition: all 0.5s cubic-bezier(.645,.045,.355,1);
    transform: translate(400px,0);
    width: 280px;
    padding: 35px 30px 35px 30px;
    box-sizing: border-box;
    background-color: #111;
    position: fixed;
    top: 0;
    overflow: auto;
    height: 100%;
    z-index: 6;
}
#close_small_menu{
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
 
}

#close_small_menu:hover{
    opacity: 0.75;
    background-color: #202933;
}

#close_small_menu::before,#close_small_menu::after{
    position: absolute;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #fff;
    right: 16px;
    top: 8px;
    transition: all ease .4s;
    
}
#close_small_menu::before{
    transform: rotate(45deg);
}
#close_small_menu::after{
    transform: rotate(-45deg);
}
#close_small_menu:hover::before,#close_small_menu:hover::after{
    transform: rotate(90deg);
    transition: all ease .4s;
}
.small_menu_list_container{
    margin-top:20px;
}
.small_menu_list li{
    list-style-type: none;
    
}

.small_menu_list li.active a{
    color:#E4B34C;
}
.small_menu_list li a{
    color: white;
    text-decoration: none;
    font-family: 'Caviar Dreams Bolder', sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    text-transform: uppercase;
    display: block;
    line-height: 2.2;
    word-wrap: break-word;
}
.menu_additional{
    padding-top:30px;
}
.menu_additional .additional_title{
    margin-top: 30px;
    margin-bottom: 15px;
}
.menu_additional h3{
    color: white;
    font-size: 13px;
    text-align: left;
    text-transform: uppercase;
}
.menu_additional p,.menu_additional a{
    color: #777777;
    font-size: 15px;
}
    
#overlay_background{
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(.645,.045,.355,1);
}
body.toggle_menu{
    overflow: hidden;
}
body.toggle_menu .small_menu_list{
    transform: translate(0,0);
    transition: all 0.5s cubic-bezier(.645,.045,.355,1);
}
body.toggle_menu main,body.toggle_menu .small_screen_header{
    transform: translate(-280px,0);
    transition: all 0.5s cubic-bezier(.645,.045,.355,1);
}

body.restore main,body.restore .small_screen_header{
    transform: translate(0,0);
    transition: all 0.5s cubic-bezier(.645,.045,.355,1);
}

body.toggle_menu #overlay_background{
    visibility: visible;
    opacity: 1;
    transform:translate(-280px,0);
}
main{
    background-color: white;
}

.new_banner_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(42, 54, 50);
    padding-top:125px;   
    position: relative;    
    overflow-x: clip;
    background-image: url(/img/bgfoodicon1.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

}
.new_banner_container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 50,0.1);
    background-image: linear-gradient(180deg, #000000 0%, #FFFFFF00 100%);
}

.banner_text{
    position: relative;
    padding: 15px;
    text-align: center;
    transition: all 0.3s ease-out;
}
.banner_text h1{
    color: white;
    font-size: 80px;
    font-family: 'Metropolis 1920 Regular', sans-serif;
    
}
.banner_text h1 span{
    display: inline-block;
    transform: translateX(101%) translateY(0) translateZ(0);
    transition: all 800ms ease;
    opacity: 0;
    transition-delay: 1500ms;
}
.banner_text h1 span.colored{
    color:#E4B34C;
    
}

.banner_text p{
    color: #E4B34C;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
}
.all-img-banner{
    position: relative;
}

.pizza-it{
    position:absolute;
    animation: pizza-1 linear;
    
}

.pizza_holder{
    animation: pizza-img 1s linear;
    animation-delay: 1s;
}

.pizza-img{
    width: 100%;    
    animation: pizza_rotate 4s alternate infinite linear both;
    animation-delay: 4s;
    -webkit-box-shadow: 10px 10px 57px 0px rgb(103 114 148 / 20%);
    -moz-box-shadow: 10px 10px 57px 0px rgba(103, 114, 148, 0.2);
    -ms-box-shadow: 10px 10px 57px 0px rgba(103, 114, 148, 0.2);
    box-shadow: 10px 10px 57px 0px rgb(103 114 148 / 20%);
    border-radius: 100%;

}

.pizza-1{
    top: -70px;
    right: -10px;
    bottom: 30px;
    animation-duration: 1.5s;
    animation-delay: 1.3s;
}

.pizza-2{
    top: -10px;
    left: 30px;
    right: -120px;
    max-width:350px;
    animation-duration: 1.8s;
    animation-delay: 1.8s;
}
.pizza-3{
    top: 70px;
    left: -20px;
    animation-duration: 2s;
    animation-delay: 2s;
}

.pizza-4{
    bottom: -60px;
    right: 230px;
    animation-duration: 2.5s;
    animation-delay: 2.5s;
}

.pizza-5{
    bottom: -60px;
    right: 10px;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}
.pizza-6{
    bottom: 60px;
    right: -20px;
    animation-duration: 1.8s;
    animation-delay: 1.8s;
    
}


@keyframes pizza-img {
    0%{
        opacity: 0;
        transform: translate3d(200px,0,0);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
@keyframes pizza_rotate {
    0%{     
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(10deg);
    }
}
@keyframes pizza-1 {
    0%{
        opacity: 0;
        transform: scale3d(0.3,0.3,0.3);
    }
    50%{
        opacity: 1;
    }
}


.intro_section{
    margin: 50px 0;
    color: #495e57;
    padding-bottom:90px;
    position: relative;    
}

.intro_container{
    position: relative;
    overflow-x: clip;
    max-width: 1400px;
    margin: 0 auto;
}

.intro_top{
    width: 83.33%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    max-width: 800px;
}

.intro_text{
    font-size: 1.25em;
    text-align: center;
}
.intro_signature{
    text-align: center;
    padding-top: 15px;
    color: #000000;
    font-size: 50px;
    font-weight: 400;
    text-transform: none;
    font-family: "arion_typeface_altregular", Sans-serif
}
.upper_inner_header{
    width: 2000%;
    max-width: 2000%;
    bottom: -52px;
    position: absolute;
    left: 164px;
    transition: all 1s ease-out 0s;
}
.lower_inner_header{
    width: 2000%;
    max-width: 2000%;
    bottom: -131px;
    position: absolute;
    left: -350px;
    transition: all 1s ease-out 0s;
}
.upper_inner_header div,.lower_inner_header div{
    color: #F5F5F5;
    font-family: 'Caviar Dreams Bolder', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    line-height: 1;
    letter-spacing: -5px;
}


.small_container{
    display:flex;
    justify-content: center;
    align-items:stretch;
    flex-wrap: wrap;    
    color: #495e57;
    margin-top: 50px;
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
}

.small_container article{
    flex:1;
    text-align: center;
    margin: 10px;
    background: #f4f2ed;   
    border-radius: 2px;
    position: relative;
    overflow: hidden;
   
}
.small_container article:hover{ 
    animation:card_zoom 0.5s alternate linear;
 
}
@keyframes card_zoom{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    
}
.small_container h2{    
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 10px;
}
.small_container .img{
    position: relative;
    width: 100%;
    height: 250px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.small_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small_container figcaption{   
    padding: 10px;
    font-size: 1.1em;
    color: #6f6f6f;
}

.menu_section{
    margin-top: 50px;   
    background-color: #2a3632;
    padding: 60px 0;
    background-image: url(/img/bgfoodicon2.jpg);
    position: relative;
    background-position: center;
    background-size: cover;

}

.menu_section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 50,0.3);
   
}

.menu_section h2{
    color: white;
    position: relative;
    
}

.menu_section h2 span{
    display: inline-block;
    transform: translateX(101%) translateY(0) translateZ(0);
    transition: all 800ms ease;
    opacity: 0;
    transition-delay: 1900ms;
}
.menu_swiper{
    padding:50px 15px;
    max-width:1800px;
  
}
.swiper-button-next,.swiper-button-prev{
    color:white;
}
.swiper-pagination{
    bottom:40px!important;
}
.swiper-pagination-bullet {
    margin: 0 5px;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 0;
    background: #E4B34C;
    opacity: .2;
    transform: rotate(45deg);
}
.swiper-pagination-bullet-active{
    background: #E4B34C;
    border-radius: 0;
    width: 6px;
    height: 6px;
    transform: scale(1.6) rotate(45deg);
    transition: all 0.3s ease-out 0s;
    opacity: 1;
    
}
.swiper-button-next, .swiper-button-prev {
    color: white;
    background-color: #E4B34C;
    width: 45px;
    height: 45px;
    display: none;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size:20px;
    font-weight: bold;
    
}

.menu_section:hover .swiper-button-next, .menu_section:hover .swiper-button-prev,.about_section:hover .swiper-button-next, .about_section:hover .swiper-button-prev{
    display: flex; 
    transition: all 0.3s;
}
.menu_container article{
    text-align: center;

}
.menu_container img{
    width:100%;
    height: auto;
    box-shadow: 5px 5px 10px black;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 27px;
    transition: all 1s ease-out 0s;
}
.menu_container h3{
    color:#e2dadd;    
    font-family: 'Caviar Dreams Bolder', sans-serif;
    font-size:26px;
    margin-bottom: 16px;
}
.menu_container p.menu_description{
    margin-bottom: 8px;
    color:#e2dadd;
    font-size: 1.25em;
}
.menu_container p.menu_price{
    font-size: 1.25em;
    color: #E4B34C;
}

.about_section{   
    background-color: #2a3632;
    padding-top: 50px;
    padding-bottom: 80px;
    background-image: url(/img/bgfoodicon1.jpg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.about_section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 26, 26, 0.5);
    background-image: linear-gradient(180deg, #000000 0%, #FFFFFF00 100%);
}
.bio_swiper{
    padding: 50px 15px;
    max-width: 1200px;
}
.about_section h2{
    position: relative;
    color: white;
}

.about_section article{
    color: #495e57;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 2px;
}
.about_section figure{
    box-shadow: 0 0 18px rgb(40 40 40 / 12%);
    border-radius: 2px;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.chefs_bio img{
    width: 100%;
    height: auto;
}

.about_section article:hover .chefs_bio img{
    transform: scale(1.1);
    transition: all 0.35s;
}
.chefs_bio figcaption{
    text-align: center;
    margin: 15px 0;
}

.about_section h5{
    color: #282828;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.about_section figure p{
    color: #9b9b9b;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
}
.about_section .member-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.about_section .member-overlay .member-hover {
    border-radius: 2px;
    background-color: rgba(34, 34, 34, 0.9);
    width: 100%;
    height: 100%;
    transition: all 0.35s;
    opacity: 0;
}

.about_section article:hover .member-hover {
    opacity: 1;
}

.about_section  .pos-vertical-center {
    position: relative;
    top: 70%;
    transform: perspective(1px) translateY(-30%);
}

.about_section .member-hover a {
    color: #c59d5f;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin-right: 20px;
}
.about_section .member-desc {
    padding: 15px;
    font-size: 15px;
    color: #9b9b9b;
    margin-bottom: 0;
}

.about_section .member-desc p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}
.booking_section{
    padding: 50px 0;
    position: relative;  
    background-color: #f4f2ed;

}

.booking_section h2{
    margin-bottom:0;
}

.booking_container{
    background-image: url(/img/banner-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1200px;
    margin: 40px auto;
    padding: 50px 5%;
    position: relative;
}
.booking_container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 50,0.4);
}
.booking_form{
    padding: 50px 30px;
    position: relative;
}

.booking_section form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    background-color: rgba(42, 54, 50,0.9);
    
}
.booking_section form>div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.booking_section input, .booking_section select{
    width: 196px;
    height: 46px;
    margin: 10px;
    font-size: 18px;
    color: white;
    padding-left: 10px;
    background-color: transparent;
    font-family: "Josefin Sans",sans-serif;
    border: none;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF73;
}
input::-webkit-calendar-picker-indicator{
    filter: invert(1);
}
.booking_section select{
    width: 208px;
}
.booking_section option{
    color: #495e57;
}

.booking_section input::placeholder{
    color: white;
}

.booking_section input:focus-visible{
    outline:none;
}

.booking_section button{
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px; 
    border:none;
    color: white;
    width: 196px;
    height: 46px;
    position: relative;
    overflow: hidden;
    background-color: #E4B34C;
    font-family: "Josefin Sans",sans-serif;   
}
.booking_section button::before{
    position: absolute;
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: '';
    display: inline-block;
    height: 5px;
    width: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 17px;
    transition: all 300ms ease;
    top: calc(50% - 5px);
}
.booking_section button::after{
    position: absolute;
    border-style: solid;
    border-width: 3px 3px 0 0;
    content: '';
    display: inline-block;
    height: 5px;
    width: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left:-11px;
    transition: all 300ms ease;
    top: calc(50% - 5px);
}
.booking_section button:hover{
    color:#f6e387;
    background-color: #1d382f;
}
.booking_section button:hover::before{
    right: -11px;
}
.booking_section button:hover::after{
    left: 169px;
}


.subscribe_section{
    padding: 50px 0;
    position: relative;
    background-color: #f4f2ed;
}

.subscribe_section form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
}

.subscribe_section input{
    width: 196px;
    height: 46px;
    font-size: 18px;
    border-color: #E4B34C;
    border-width: 1px;
    border-style: solid;
    color: #495e57;
    padding-left: 10px;
    background-color: white;   
}
.subscribe_section input::placeholder{
    font-size:15px;
    font-family: "Josefin Sans",sans-serif;
}
.subscribe_section button{
    padding: 10px 15px;
    font-size: 16px;
    border-color: #E4B34C;
    border-width: 1px;
    border-style: solid;
    color: white;
    width: 96px;
    height: 48px;
    position: relative;
    overflow: hidden;
    background-color: #E4B34C;
    font-family: "Josefin Sans",sans-serif;
}
.subscribe_section button:hover{
    color: #f6e387;
    background-color: #1d382f;
}

.map_section{
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding: 35px 0;
    background-image: url(/img/bgfoodicon.png);
    position: relative;
    background-position: center;
    background-repeat: repeat;
}

.map_section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42, 54, 50,0.8);
    background-image: linear-gradient(180deg, #000000 0%, #FFFFFF00 100%);
}
.address_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 0 0 83.33%;
    position: relative;
    max-width: 1400px;
}
.address_container div{
    margin-top:15px;
}

.address_container p{
   
    color:white;
    font-size: 1.15em;
    line-height: 24px;
}

.address_container a{
    color:white;
    text-decoration: none;
}



footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding:15px;
    max-width: 1400px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #FFFFFF73;
}
footer img{
    max-width:180px;
}

footer p{
    color: white;
    font-size: 13px;
}

@media (max-width:1199px){
    .pizza-img{
        max-width: 420px;
    }
    .pizza-1{
        top: -60px;
        right: 0px;
        max-width: 140px;
    }

    .pizza-2{
        top: -50px;
    }
    .pizza-3{
        top: 40px;
        max-width: 50px;
        left: -10px;     
    }

    .pizza-4{
        max-width: 60px;
        bottom: -50px;
        right: 210px;
    }

    .pizza-5{
        max-width: 180px;  
    }
    .pizza-6{
        bottom: 30px;
        right: -20px;
        max-width: 60px;
    }
    
}

@media (max-width:991px){
    
    .banner_text h1{
        font-size: 70px;
    }
    .pizza-img{
        max-width: 310px;
    }
    .pizza-1{
        top: -50px;
        right: -10px;
        max-width: 110px;
    }

    .pizza-2{
        max-width: 70px; 
    }
    .pizza-3{
        top: 20px;
        max-width: 35px;
        left: 10px;     
    }

    .pizza-4{
        max-width: 40px;
        bottom: -40px;
        right: 140px;
    }

    .pizza-5{
        max-width: 130px;
        bottom: -40px;
        right: -10px;     
    }
    .pizza-6{
        bottom: 40px;
        right: -10px;
        max-width: 40px;
    }
}

@media screen and (max-width:767px){
    .large_screen_header{
        display: none;
    }
    .small_screen_header.init{
        display: block;
        width: 100%;
        float: left;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: rgba(25,25,25,.2);
        box-shadow: 0px 10px 60px rgb(0 0 0 / 0%);
        height: max-content;  
    }
    .small_menu_list.init{
        display: block;
    }

    .small_screen_header.show{
        box-shadow: 0px 10px 60px rgb(0 0 0 / 10%);
        backdrop-filter: blur(12px);
        background-color: #000000BD;
    }

    .banner_text h1{
        font-size: 50px;
    }
    .pizza-img{
        max-width: 160px;
    }
    .pizza-1{
        top: 0px;
        right: -30px;
        max-width: 50px;
    }

    .pizza-2{
        max-width: 30px;
        top: -10px;
        left: 0;    
    }
    .pizza-3{
        top: 20px;
        max-width: 18px;
        left: -10px;      
    }

    .pizza-4{
        max-width: 20px;
        bottom: -10px;
        right: 30px;
    }

    .pizza-5{
        max-width: 60px;
        bottom: -10px;
        right: -25px;     
    }
    .pizza-6{
        bottom: 30px;
        right: -20px;
        max-width: 20px;
    }
    .heading_subtitle_gold{
        font-size: 29px;
    }    
    .small_container article{
        flex-basis:100%;
        margin-bottom:30px;
    }
    .small_container figcaption{ 
        font-size:15px;
    }
    .menu_container h3{
        font-size:20px;
        margin-bottom: 12px;
    }



}

@media screen and (max-width:576px){
    header img {
        max-width: 230px;
    }  
   
    .banner_text p{
        font-size:16px;
    }
    .intro_section h2,.booking_section h2,.about_section h2,.menu_section h2,.subscribe_section h2{
        font-size:24px;
    }
    .intro_text,.about_section figure p,.address_container p,.menu_section figcaption{
        font-size:16px;
    }  
    #footer_logo{
        padding-left: 15px;
    }
    #footer_copyright{
        padding-right: 15px;
    }
  
}